{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block page_title%}
    Password Reset Form
{% endblock page_title %}

{% block content %}
     <div class="container">
     <form action="" method="post">
    {% csrf_token%}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">send an email</button>
    </form>
   </div>
    <style>
        .container{
           background-color: whitesmoke;
            margin-top: 5%;
            text-align: center;
        }
    </style>
{% endblock %}