body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    box-sizing: border-box;
}
.main-title{
    text-align: center;
    margin-top: 5%;
}
.main_image_container{
    text-align: right;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%;
   background-color:wheat;
}
.main_image_container img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.main_description_container{
    background-color: wheat;
    font-size: 1.1rem;
    font-weight: bold;
    direction: rtl;

}
.main_description_container img{
    max-width: 80%;
    max-height:80%;
}