{% extends '_base.html' %}
{% load static %}
{% block page_title%}
    HOME
{% endblock page_title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <h1 class="main-title">کتاب یار</h1>
    <div class="main_image_container">
        <img src="{% static 'icons/download.jfif' %}" alt="an image about books">
    </div>
    <div class="main_description_container">
        <p>احتمالا باید از خود سوال پرسیده باشید که کاربرد کتاب یار چیست
            باید بگم که این سایت در جهت سوق داده شدن به سمت فرهنگ کتاب خوانی راه اندازی شده است
            در این سایت به کاربران این اجازه داده شده است که هم بتوانند کتاب بارگذاری کنند و حتما بتوانند از کتاب های دیگران استفاده کنند یا حتی نظراتشان را به اشتراک بگذارند
            هدف اصلی ما در کتاب یار معرفی کتاب است و این عمل در راستای بهبود جامعه کتابخوانی صورت گرفته شده است .
        </p>
        <h2>اما به راستی که فایده کتاب خواندن چیست؟</h2>
        <p>
            <h4>1- کسب علم و دانش:</h4>
    یکی از بزرگترین دلایل کتاب خواندن، کسب دانش است. کتاب ها یک منبع غنی از اطلاعات هستند. خواندن کتاب با موضوعات متنوع اطلاعات و عمق دانش را افزایش میدهد.
    <br>
    <h4>
        2- کتاب خواندن مغز شما را بهبود می بخشد:
    </h4>
    مطالعات نشان داده اند که خواندن اثرات مثبت قوی بر مغز دارد. با تحرک ذهنی، شما می توانید از بیماری زوال عقل و بیماری آلزایمر جلوگیری کنید. این به این دلیل است که فعالیت مغز شما مانع از از دست دادن قدرت می شود. مغز یک عضله و مانند دیگر عضلات بدن است، ورزش آن را قوی و سالم نگه می دارد. حل پازل، خواندن کتاب ها یک راه عالی برای تمرین مغز شما است و آن را سالم نگه میدارد.
    <br>
    <h4>3- کاهش استرس:</h4>
    خواندن، اثر مثبت بر بدن نیز دارد. خواندن یک کتاب ،می تواند استرس را بهتر از پیاده روی یا گوش دادن به موسیقی از بین ببرد.
    <br>
    <h4>4- کتاب خواندن حافظه را بهبود می بخشد:</h4>
    هر بار که یک کتاب را میخوانید، باید تنظیمات کتاب، شخصیت ها، زمینه ها، تاریخ، زیرمجموعه ها و خیلی چیزهای دیگر را به خاطر داشته باشید. همانطور که مغز شما یاد می گیرد تمام اینها را به خاطر بسپارد، حافظه شما بهتر می شود.
    <br>
    <h4>5- بهبود تخیل:</h4>
    هرچه بیشتر بخوانید، تخیل بیشتری خواهید داشت. هر زمان که یک کتاب تخیلی بخوانید، دنیای دیگری به شما می دهد. در دنیای جدید، تخیل شما به بهترین نحو کار می کند، زیرا شما سعی می کنید همه چیز را در ذهن خود ببینید.
    <br>
    <h4>6- مهارت های تفکر انتقادی را توسعه می دهد:</h4>
    یکی از مزایای اصلی خواندن کتاب توانایی آن در ایجاد مهارت تفکر انتقادی است. به عنوان مثال، خواندن یک رمان رمز و راز ذهن شما را باز می کند. مهارت های تفکر انتقادی هنگامی که به تصمیم گیری های روزمره می رسد، بسیار مهم است. خواندن نیاز فردی به پردازش اطلاعات را بهبود می بخشد. هرچه بیشتر بخوانید، درک شما عمیق تر خواهد شد.
    <br>
    <h4>7- واژگانی را می سازد:</h4>
    خواندن، واژگان و دستور زبان شما را بهبود می بخشد. همانطور که مطالعه میکنید، با کلمات جدید، اصطلاحات، عبارات و سبک نوشتن جدید آشنا می شوید.
    <br>
    <h4>8- مهارت های نوشتن را بهبود می بخشد:</h4>
    خواندن یک کتاب خوب می تواند بر مهارت نویسندگی تاثیر گذار باشد. بسیاری از نویسندگان موفق، با خواندن آثار دیگران، تخصص خود را به دست آوردند. بنابراین، اگر می خواهید یک نویسنده بهتر شوید، با یادگیری از استادان قبلی شروع کنید.
    <br>
    <h4>9- مهارت های ارتباطی را بهبود می بخشد:</h4>
    بهبود واژگان و مهارت های نوشتاری و مهارت های ارتباطی را بهبود میبخشد. هرچه بیشتر بخوانید و بنویسید، بهتر ارتباط برقرار می کنید.
    <br>
    برای دیدن ادامه مقاله <a target="_blank" href="https://namnak.com/%D9%81%D9%88%D8%A7%DB%8C%D8%AF-%DA%A9%D8%AA%D8%A7%D8%A8-%D8%AE%D9%88%D8%A7%D9%86%D8%AF%D9%86.p42945">کلیک</a> کنید.
        </p>
    <img src="{% static 'icons/download (1).jfif' %}" alt="an img for book">
    </div>
     <div class="container mt-4" id="main_cn">
        <div class="row flex-row-reverse justify-content-md-center ">
            {% for i in books %}
                <div class="card m-2" style="max-width: 45%" id="cn2">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if i.book_cover %}
                            <img id="pic" src="{{ i.book_cover.url }}"
                                 class="img-fluid rounded-start" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <h3 class="card-title"><strong><a class="text-decoration-none" href="{{ i.get_absolute_url }}">{{ i.title }}</a></strong></h3>
                                    <p class="card-text pt-3">{{ i.description }}</p>
                                    <p class="text-muted">نویسنده: {{ i.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination  justify-content-center mt-3">
        {% if books.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'books_list' %}">ادامه کتاب ها</a></li>
        {% endif %}
      </ul>
    </nav>
    <style>
        #cn2{
            background-color: #FCF6F5FF;
            border: 3px solid #E0A96D;
        }
    </style>
{% endblock %}
