{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block page_title%}
    جزییات کتاب
{% endblock page_title %}

{% block content %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center" id="main_div">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if books_detail.book_cover %}
                                <img class="shadow" src="{{ books_detail.book_cover.url }}"
                                     class="img-fluid rounded-start" alt="...">
                            </div>
                                {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ books_detail.title }}</h1>
                            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ books_detail.author }}</h5>
                            <h5 class="small my-1"><span class="text-muted">مترجم: </span>{{ books_detail.translator }}</h5>
                            <h5 class="small my-1"><span class="text-muted">انتشارات: </span>{{ books_detail.publisher }}</h5>
                            {% if user.id == books_detail.books_author.id %}
                                <a href="{% url 'update_books' books_detail.id %}"><button class="btn-success">ویرایش کتاب</button></a>
                                <a href="{% url 'delete_books' books_detail.id %}"><button class="btn-danger">حذف کتاب</button></a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ books_detail.price }}$
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center"  id="description_div">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        توضیحات کتاب:  {{ books_detail.description }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100" id="comments_box">
                        <h2 class="mb-5">نظرات:</h2>
                        {% if comments %}
                            {% for i in comments %}
                                {{ i.id }}
                            <div class="border-bottom mb-3" id="each_comments_box">
                                <h5 class="mb-3">{{ i.user.username }}</h5>
                                {% if i.recommended %}
                                    <div class="happy_face"><h6 class="mb-3">:)</h6></div>
                                {% elif not i.recommended %}
                                    <div class="sad_face"><h6 class="mb-3">:(</h6></div>
                                {% endif %}
                                <h6 class="mb-3">  زمان انتشار: {{ i.datetime_comment }}</h6>
                                <p>{{ i.comment_text|linebreaks }}</p>
                                 {% if i.user.id == user.id %}
                                     <a href="{% url 'update_comments' books_detail.id i.id %}"><button class="btn-info">ویرایش نظر</button></a>
                                     <a href="{% url 'delete_comments' books_detail.id i.id %}"><button class="btn-danger">حذف نظر</button></a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% elif not comments %}
                            <h4>هیچ نظری تاکنون ثبت نشده است، شما اولین نفر باشید!</h4>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100" id="entering_comments">
                        <h3>نظر خود را وارد کنید:</h3>
                        {% if user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <button class="btn btn-primary" type="submit">ثبت نظر</button>
                            </form>
                        {% else %}
                            <h5>برای ثبت نظرات باید عضو سایت باشید، برای ورود <a href="{% url 'login' %}">کلیک</a> کنید. </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #main_div, #description_div, #comments_box, #entering_comments{
            background-color: #231c61;
            color: white;
        }
        #description_div{
            margin-top: 0%;
        }
        .happy_face{
            color: white;
            text-align: right;
            background-color: green;
            width: fit-content;
        }
         .sad_face{
            color: white;
            text-align: right;
            background-color: red;
            width: fit-content;
        }
        #each_comments_box{
            border: 1.5px solid #ffb300;
            padding: 3%;
        }
    </style>
{% endblock %}
