{% extends '_base.html' %}
{% block page_title%}
    جزییات کتاب
{% endblock page_title %}

{% block content %}
    <p>{{ books_detail.title }}</p>
   <p> {{ books_detail.author }}</p>
    <P>{{ books_detail.translator }}</P>
    <p>  {{ books_detail.description }}</p>
    <p>  {{ books_detail.price }}$</p>
     <a href="{% url 'update_books' books_detail.id %}"><button>ویرایش کتاب</button></a>
      <a href="{% url 'delete_books' books_detail.id %}"><button>حذف کتاب</button></a>
    <a href="{% url 'books_list'%}"><button>بازگشت به لیست کتاب ها</button></a>
{% endblock %}
