{% extends '_base.html' %}
{% block page_title%}
    کتاب های من
{% endblock page_title %}

{% block content %}
    {% if user_books_auth == False %}
        <div class="Container">
            <h3>شما در حال حاضر هیچ کتابی را ثبت نکردید، برای ثبت اولین کتاب   <a href="{% url 'create_books' %}">کلیک</a> نمایید </h3>
        </div>
        <style>
            .Container{
                background-color: whitesmoke;
                margin-top: 5%;
                text-align: center;
            }
        </style>
    {% elif user_books_auth == True %}
        <div class="container mt-4">
            <div class="row flex-row-reverse justify-content-md-center">
                {% for i in books %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if i.book_cover %}
                              <img id="pic" src="{{ i.book_cover.url }}"
                                class="img-fluid rounded-start" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <h3 class="card-title"><strong><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></strong></h3>
                                    <p class="card-text pt-3">{{ i.description }}</p>
                                    <p class="text-muted">نویسنده: {{ i.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                  <ul class="pagination  justify-content-center mt-3">
                    {% if books.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{ books.number }}">{{ books.number }}</a></li>
                    {% if books.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    {% endif %}
     <style>
        #pic{
            border: 2px solid black;
        }
    </style>
{% endblock %}